.vertx/
SparkVerticle/src/main/resources/local/derby.log
*/.idea
/.idea/*
*/target/
test-output/
.classpath_nb
CoreFramework/CoreFramework.iml
DataGrid.iml
DataNavigatorUserApi/DataNavigatorUserApi.iml
SimpleREST/SimpleREST.iml
SparkVerticle/SparkVerticle.iml
SchedVerticle/SchedVerticle.iml

